.single {
  display: flex;
  flex-flow: column;
}
.content {
  padding-top: 40px;
  display: flex;
}

.header {
  display: flex;
  padding-bottom: 40px;
}

.single h1 {
  font-weight: 600;
}

.single h2 {
  font-weight: 400;
}

.single_side {
  width: 50%; 
  display: flex;
  flex-direction: column;
}

.single_left {
  flex-grow: 1;
}

.single_media {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.single_media img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 80px;
}

.single_checkbox-div {
  margin-top: 20px;
}

.single_checkbox-btn {
  color: #fff !important;
  border-radius: 10px;
  padding-left: 20px !important;
}

.single_details-top {
  display: flex;
  justify-content: space-between;
}

.single_details-top h3 {
  font-size: 28px;
  margin-bottom: 14px;
  line-height: 1;
}

.single_right {
  margin-left: 40px;
  width: 400px;
}

.single_right div {
  margin-bottom: 20px;
}

.single_right-top {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.single_share {
  display: flex;
  align-items: center;
  align-self: center;
}

.single_challenges-btns {
  display: flex;
  justify-content: space-between;
}

.single_numbers {
  display: flex;
  flex-wrap: wrap;
}

.single_calendar {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.single_calendar-title {
  align-self: center;
  margin-bottom: 10px;
}

.single_calendar-num {
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.single_calendar-num:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.single_streak {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}