/* HOMEPAGE NAVBAR */

.homepage_nav {
  width: 100%; 
  z-index: 1;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage_nav img {
  width: 80px;
}

.homepage_nav-link {
  text-decoration: none;
}

.homepage_nav-btn {
  margin-left: 20px !important;
}

/* MAIN NAVBAR */

nav {
  background-color: #f7f6f3;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.nav_menu {
  padding: 20px;
}

.hidden {
  display: none;
}

nav:hover .hide-button, .hide-button:hover {
  visibility: visible;
}

.hide-button {
  visibility: hidden;
}

.nav_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_logo img {
  width: 80px;
  margin-left: -10px;
  margin-top: -10px;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

.nav_button {
  justify-content: flex-start !important;
  width: 190px;
  color: rgba(55, 53, 47, 0.8) !important;
  margin-bottom: 5px !important;
}

.nav_link {
  text-decoration: none;
}

.nav_details p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.nav_details a {
  color: rgba(0, 0, 0, 0.6);
}

.nav_credits {
  font-size: 12px !important;
}