.courses {
  display: flex;
  flex-direction: column;
}

.courses_btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create_course {
  text-decoration: none;
  color: #161616;
}

.sort-button {
  margin-right: 20px !important;
}

.active {
  text-decoration: underline !important;
}