.courses {
  display: flex;
  flex-direction: column;
}

.courses_btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create_course {
  text-decoration: none;
  color: #161616;
  width: 170px;
}

.sort-button {
  margin-right: 20px !important;
}

@media screen and (max-width: 1120px) {

}