.courses {
  display: flex;
  flex-direction: column;
}

.courses_top {
  display: flex;
  margin-bottom: 20px;
}

.courses_top h1 {
  font-weight: 600;
  margin-top: 20px;
}

.courses_btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create_course {
  text-decoration: none;
  color: #161616;
}